<div class="panel panel-default panel-active">
    <div class="panel-heading">
        <h3 class="panel-title">
            Tags
            <a class="pull-right btn btn-primary" role="button" title="Add Tag"
               ui-sref="main.tags.upsert({id: null})">Add Tag</a>
        </h3>
    </div>
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <form nam="searchForm" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control search-box"
                               placeholder="Search tags by name"
                               ng-model="vm.searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-primary clear-search-box" type="button" title="Clear search text"
                                    ng-click="vm.clearSearchText()"
                                    ng-show="vm.searchText !== ''">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button class="btn btn-primary" type="submit" title="Search tags"
                                    ng-click="vm.searchTags()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>

            </div><!-- /.col-sm-6 -->
            <div class="col-xs-6">

                <div class="pull-right">

                    <preloader size="small" ng-show="vm.loading"></preloader>
                    {{vm.fromItems()}} - {{vm.toItems()}} of {{vm.totalTags}}

                    <div class="btn-group" role="group" aria-label="Navigation buttons">
                        <button type="button" class="btn btn-primary" title="Previous Page"
                                ng-click="vm.getPreviousPage()"
                                ng-disabled="vm.firstPage()">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Next Page"
                                ng-click="vm.getNextPage()"
                                ng-disabled="vm.lastPage()">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div>
    <table class="table data-table">
        <thead>
        <tr>
            <th width="50px" class="text-center">#</th>
            <th class="text-left">Name</th>
            <th width="120px" class="text-left"></th>
            <th width="100px" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tag in vm.tags">
            <th class="text-center">{{vm.getIndexForDisplay($index)}}</th>
            <td class="text-left">{{tag.name}}</td>
            <td class="text-left">{{tag.totalTodos}} todos</td>
            <td class="text-center">
                <a class="btn btn-default btn-sm" role="button" title="Edit Tag"
                   ui-sref="main.tags.upsert({id: tag._id.$oid})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div ng-show="vm.tags.length === 0">
        <div class="no-data-message">
            There are no tags
        </div>
    </div>

</div>
