<div class="panel panel-default" ng-class="vm.selectedFilter.key === 'active' ? 'panel-active' : 'panel-deleted'">
    <div class="panel-heading">
        <h3 class="panel-title">
            Todos
            <a class="pull-right btn btn-primary" role="button" title="Add Todo"
               ui-sref="main.todos.upsert({id: null})"
               ng-if="vm.selectedFilter.key === 'active'">Add Todo</a>
            <!--<button class="pull-right btn btn-primary" type="button" title="Add todo"
                    ng-if="vm.selectedFilter.key === 'active'"
                    ng-click="vm.gotoAddTodo()">Add</button>-->
        </h3>
    </div>
    <div class="panel-heading">

        <div class="row">
            <div class="col-xs-6">
                <form nam="searchForm" class="search-form">
                    <div class="input-group">
                        <div class="input-group-btn" uib-dropdown>
                            <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    uib-dropdown-toggle>
                                {{vm.selectedFilter.label}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="filter in vm.filters">
                                    <a ui-sref="main.todos.list({filterBy: filter.key})">{{filter.label}}
                                        <span class="pull-right glyphicon glyphicon-ok" ng-show="filter.key === vm.selectedFilter.key"></span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control search-box" placeholder="Search todo by title or associated tag using tag:"
                                ng-model="vm.searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-primary clear-search-box" type="button" title="Clear search text"
                                    ng-click="vm.clearSearchText()">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button class="btn btn-primary" type="submit" title="Search todos"
                                    ng-click="vm.getTodos()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->

                </form>

            </div><!-- /.col-sm-6 -->
            <div class="col-xs-6">

                <div class="pull-right">

                    <img class="preloader small" src="./images/throbber.gif" alt="preloader"
                         ng-show="vm.loading"/>
                    {{vm.fromItems()}} - {{vm.toItems()}} of {{vm.totalTodos}}

                    <div class="btn-group" role="group" aria-label="Navigation buttons">
                        <button type="button" class="btn btn-primary" title="Previous Page"
                                ng-click="vm.getPreviousPage()"
                                ng-disabled="vm.firstPage()">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Next Page"
                                ng-click="vm.getNextPage()"
                                ng-disabled="vm.lastPage()">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>

            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->

    </div>
    <table class="table data-table">
        <thead>
        <tr>
            <th width="50px" class="text-center">#</th>
            <th class="text-left">Title</th>
            <th width="120px" class="text-left">Status</th>
            <th width="100px" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="todo in vm.todos">
            <!--<th>{{($index + 1) * (vm.page)}}</th>-->
            <th class="text-center">{{vm.getTodoIndexForDisplay($index)}}</th>
            <td class="text-left">{{todo.title}}</td>
            <td class="text-left">
                <select class="status-select-box"
                        ng-model="todo.status"
                        ng-options="status as status.label for status in vm.statuses() track by status.key"
                        ng-change="vm.updateTodoStatus(todo)"></select>

            </td>
            <td class="text-center">
                <a class="btn btn-default btn-sm" role="button" title="Edit Todo" ui-sref="main.todos.upsert({id: todo._id.$oid})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <button type="button" class="btn btn-default btn-sm" ng-attr-title="{{(vm.selectedFilter.key === 'active') ? 'Delete Todo' : 'Restore Todo'}}"
                        ng-click="vm.deleteRestoreTodo(todo)">
                    <span class="glyphicon" ng-class="(vm.selectedFilter.key === 'active') ? 'glyphicon-trash' : 'glyphicon-repeat'"></span>
                </button>
            </td>
        </tr>
        <tr ng-repeat-end class="no-border">
            <th></th>
            <td colspan="2">
                <div class="tags">
                    <span class="tags-icon glyphicon glyphicon-tags"></span>
                    <span ng-if="todo.tags.length === 0" class="no-data-message-inline">No tags</span>
                    <span ng-if="todo.tags.length > 0">
                        <span class="tag label label-default"
                              ng-repeat="tag in todo.tags"
                              ng-click="vm.searchByTag(tag)">{{tag.name}}</span>
                    </span>
                </div>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div ng-show="vm.todos.length === 0">
        <div class="no-data-message">
            There are no todos
        </div>
    </div>
</div>

