<div class="panel panel-default panel-active">
    <div class="panel-heading">
        <h3 class="panel-title"><a class="btn btn-link" role="button" title="Go Back" ui-sref="main.todos.list">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a> {{vm.isNew ? 'Add' : 'Edit'}} Todo</h3>
    </div>

    <form name="upsertTodoForm" class="form-horizontal" novalidate ng-submit="vm.upsertTodo()">
        <div class="panel-body no-content layout-padding layout-row layout-align-center-center" ng-show="vm.tagsLoading">
            <preloader size="small"></preloader>
        </div>
        <div class="panel-body" ng-show="!vm.tagsLoading">
            <div class="form-group"
                 ng-class="{ 'has-error' : upsertTodoForm.title.$invalid && !upsertTodoForm.title.$pristine }">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" id="title" name="title" class="form-control"
                           ng-model="vm.todo.title" required minlength="5" maxlength="150">
                    <div class="help-block">Minimum 5 and maximum 150 characters</div>
                    <div class="help-block" ng-messages="upsertTodoForm.title.$error"
                         ng-if="upsertTodoForm.title.$touched">
                        <p ng-message="required">Title is required.</p>
                        <p ng-message="minlength">Title is too short.</p>
                        <p ng-message="maxlength">Title is too long.</p>
                    </div>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : upsertTodoForm.selectedTags.$invalid && vm.checkboxesTouched }">
                <label class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <div class="checkbox" ng-repeat="tag in vm.tags">
                        <label>
                            <input type="checkbox" name="selectedTags"
                                   ng-change="vm.checkboxesTouched = true"
                                   ng-model="tag.selected"
                                   ng-required="!vm.someTagsSelected()"> {{tag.name}}
                        </label>
                    </div>

                    <div class="help-block" ng-messages="upsertTodoForm.selectedTags.$error"
                         ng-if="vm.checkboxesTouched">
                        <p ng-message="required">Select at least one tag.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-show="!vm.tagsLoading">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-disabled="upsertTodoForm.$invalid || vm.loading">
                        Submit
                    </button>
                    <preloader size="small" ng-show="vm.loading"></preloader>
                </div>
            </div>
        </div>
    </form>
</div>